/* Css command to make Bootstrap leave no white space at sides of container */


html, body {
  overflow-x: hidden;
}



body {
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
}

.full-width {
  padding: 0;
}

/* Navbar */
#title {
  background-image: url(images/bg-darkened.png);
  height: 750px;
  background-position: center center;
  background-attachment: inherit;
  background-size: cover;
}

.nav-link {
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  color: #F7F5F2;
}

@media only screen and (max-width: 900px) {
  .nav-link {
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
  }
}

/* End nav */
/* Heading (first section) */
.headingstop {
  position: absolute;
  top: 60%;
  left: 1.5%;
}

.big-heading {
  color: #F9F9F9;
  font-weight: 300;
  font-style: italic;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.small-heading {
  color: #F9F9F9;
  font-weight: 200;
  text-indent: 20px;
}

@media only screen and (max-width: 500px) {
  .small-heading {
    text-indent: 0;
  }
}

.top-btn {
  margin-left: 25%;
  margin-top: 10px;
}

/* End of top section */
/* Image grid section */
.maintxt, .maintxt2, .maintxt3, .maintxt4 {
  background-size: cover;
  height: 410px;
  letter-spacing: .1em;
  color: #F9F9F9;
}

.maintxt {
  background-image: url(images/dirtysign.jpg);
  margin-right: -10px;
}

.maintxt2 {
  background-image: url(images/vip.jpg);
  margin-left: -14px;
}

.maintxt3 {
  background-image: url(images/dirtymojitos.jpg);
  margin-right: -10px;
}

.maintxt4 {
  background-image: url(images/tvs.jpg);
  margin-left: -14px;
}

@media only screen and (max-width: 500px) {
  .maintxt, .maintxt2, .maintxt3, .maintxt4 {
    height: 300px;
    background-size: cover;
    background-position: center;
  }
}

/* Padding for texts in Image grid section */
.txtpad {
  position: relative;
  left: 3%;
  top: 33%;
}

.txtpad2 {
  position: relative;
  left: 5%;
  top: 33%;
}

.intro {
  font-weight: 200;
}

.intro1 {
  font-weight: 300;
}

/* End padding */
/* End of images section */

/* Carousel Css */
#carousel {
  text-align: center;
  padding-top: 35px;
  line-height: 10px;
  letter-spacing: 3px;
  color: #e23d51;
  text-transform: uppercase;
  background-color: black;
  background-image: linear-gradient(180deg, #000000 30%, #722F37 90%);
}

.artists {
  font-size: 8px;
}



.artisthr {
  width: 100px;
  margin: auto;
  padding-bottom: 35px;
}
/* End Carousel */


/* Start of cards */
#flexgallery {
  background-color: black;
  background-image: linear-gradient(180deg, #722F37 30%, #000000 90%);
padding-top: 35px;
color: white;
text-align: center;
line-height: 10px;
letter-spacing: 3px;
text-transform: uppercase;
padding-bottom: 30px;
}



.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:80px;
}

.image-gallery > li {
  flex-basis: 350px;
  position: relative;
    cursor: pointer;

}



.image-gallery li img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-radius: 5px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(57, 57, 57, 0.502);
  top: 0;
  left: 0;
  transform: scale(0);
  transition: all 0.2s 0.1s ease-in-out;
  color: #fff;
  border-radius: 5px;
  /* center overlay text */
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-gallery li:hover .overlay {
  transform: scale(1);
}


/* End flex img */

/* Footer */

#contact-info {
  background-color: #000000;
margin-top: -16px;
text-align: center;
letter-spacing: 3px;
text-transform: uppercase;
color: white;
padding-bottom: 20px;

}


@media only screen and (max-width: 1200px) {
  #contact-info{
  font-size: 12px;

  }
}

@media only screen and (max-width: 1000px) {
  .hours {
  padding-top: 25px;

  }
}

.contacthr {
  padding-top: 30px;
}

/* End of contact info section */

/* Start of Footer */

#footer {
  background-color: #000000;
margin-top: -16px;
text-align: center;
letter-spacing: 3px;
text-transform: uppercase;
color: #e23d51;
font-size: 10px;
height: 115px;

}
